<%= form_for [@invoice, @purchase] do |f| %>

  <div class=" control-group">
    <%= f.label :name,class: " control-label" %>
     <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div cclass=" control-group">
    <%= f.label :category,class: " control-label" %>
    <div class="controls">
      <%= f.text_field :category %>
    </div>
  </div>

  <div class=" control-group">
    <%= f.label :quanity , class: " control-label"%>
     <div class="controls">
      <%= f.number_field :quanity %>
      </div>
  </div>
  <div class=" control-group">
    <%= f.label :price , class: " control-label"%>
     <div class="controls">
      <%= f.number_field :price %>
      </div>
  </div>

  <div class="actions">
   <div class="controls">
    <%= f.submit %>
    </div>
  </div>
<% end %>
